@import "compass/reset/utilities"
@import "compass/css3"

.enterprise-ad-container
  @include nested-reset

.enterprise-ad-container
  text-decoration: none
  .enterprise-ad
    padding: 10px
    font-size: 14px
    color: #fff
    line-height: 1.2em
    font-family: helvetica, arial, sans-serif
    .content
      width: 40%
    p
      margin-bottom: 0.5em
    .logo
      position: absolute
      bottom: 0
      left: 85%
    //&.sz-1170
    //  color: red
    //&.sz-940
    //  color: green
    //&.sz-747
    //  color: white

#slug_leaderboard
  display: block !important
