/* line 7, ../sass/style.sass */
.enterprise-ad-container {
  text-decoration: none;
}

/* line 9, ../sass/style.sass */
.enterprise-logo {
  position: absolute;
  bottom: 0;
  right: 4%;
  border: 0;
}

/* line 14, ../sass/style.sass */
.enterprise-text {
  position: absolute;
  top: 45px;
  left: 45px;
  border: 0;
}
